[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nikola = {extras = ["extras"], version = "*"}
response = {git = "https://github.com/fhchl/Response.git"}
pysoundfile = "*"
jupyter-contrib-nbextensions = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.7"
